body {
    font-size: sans-serif;
    background: aquamarine;
}

.pokemonContainer {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.imageContainer{
    position: relative;
    display: flex;
}
.imageContainer:hover .image{
    transform: translateY(-20px);
}
.image{
    width: 150px;
    height: 150px;
    transition: transform 0.4s ease-in-out;
}
.pokemonNameContainer{
    display: none;
    position: absolute;
    background : black;
    border-radius: 5px;
    color: white;
    min-width: 100px;
    width: 150px;
    top: -70px;
    padding: 10px 15px;
}
.pokemonName{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
}
.imageContainer:hover .pokemonNameContainer{
    display: flex;
    transform: translateY(-20px);
}
.pokemonNameContainer::before{
    content: "";
    position: absolute;
    left: 40%;
    bottom: -20px;
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media (max-width: 760px){
    .pokemonContainer{
        flex-direction: column;
        height: 300vh;
    }
}